@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700');
body {
	margin: 0;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}
.table{
  display: table;
  width: 100%;
}
/* Header */
.header{
  background-image: url(../img/LLoz1n1.gif) ,url(../img/Banner.png), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
   background-repeat: no-repeat,no-repeat;
  background-position: bottom right , bottom right;
  background-size: cover , cover;
  height: auto;
  width: 100%;

}
.header:after .h_text:after{
  display: block;
  content: " ";
  clear: both;
}
.navigation{
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow:hidden;
}
.logo{
  float: left;
  margin-left: 20px;
}
.press{
   position: absolute;
  right: 20px;
  display: none;
}
.press span{
  display:block;
  height: 3px;
  width: 40px;
  background:#fff;

  margin: 6px;
}
.menu{
  position: absolute;
  right: 20px;
}
.menu li{
  display: inline-block;

} 
.menu li a{
  color: #fff;
  display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .5s;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    border-radius: 10px;

}
.menu li a:hover{
border-bottom:  3px solid #000;
background: rgba(255,255,255,0.2);

}
.h_text{
  width: 100%;
  height: 700px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
    color: #fff;
    font-family: 'Cuprum', sans-serif;
    position: relative;
}
.h_text h2{
  font-size: 32px;
  margin-bottom: 40px;
  font-weight: 400;
}
.h_text h1{
  font-size: 66px;
  margin-bottom: 65px;
}
.learn_more{
  padding:10px 30px;
  border: 3px solid #fff;
  border-radius: 10px;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  transition: .5s ease;
  position: relative;
  width: 200px;
}
.learn_more:hover{
  background:rgba(0,0,0,.5);
border: 3px solid #000;
border-left: 3px solid #000;
  color: #fff;
box-shadow: 5px 6px 4px 3px #fff;
  padding-left: 10px;

}

.web_deve{
  padding: 100px 20px;
}
.web_deve h2{
  font-size: 60px;
  margin-bottom: 30px;
}
.web_deve h2 span{
  font-weight: 400;
  font-size: 55px;
}
.web_deve p{
  font-size: 18px;
}
.web_deve p:first-of-type{
  margin-bottom: 30px;
}

.web_iden{
  padding: 100px 20px;
  background-color: #f1f1f1;
}
.web_iden h2{
  font-size: 60px;
  margin-bottom: 30px;
}
.web_iden h2 span{
  font-weight: 400;
  font-size: 55px;
}
.web_iden p{
  font-size: 18px;
}
.web_iden p:first-of-type{
  margin-bottom: 30px;
}

.post{
  padding:100px 0px;
}
.post_items h4{
font-size: 22px;
margin-bottom: 10px;
}
.post_items{
  margin-bottom: 30px;
  padding: 10px;
}
.post_items p{
  font-size: 18px;
}
.icon{
  background: #000;
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
}

.client{
  padding: 100px 20px;
  background: #f1f1f1;
  position: relative;
    text-align: center;
}
.client h2{
  font-size: 60px;
  margin-bottom: 20px;
}
.client h2 span{
  font-weight: 300;
}
.client p{
font-size: 20px;
margin-bottom: 50px;
}
.client_box_txt{
  background: #fff;
  padding: 30px 70px;
  border: 5px solid #ddd;
  position: relative;
}
.client_box_txt::before{
   content: "";
   position: absolute;
   right: 100%;
   top: 45%;
   margin-top: -23px;
   border-width: 25px;
   border-style: solid;
   border-color: transparent #dddd transparent transparent;
}
.client_box_txt p{
  font-size: 26px;
  color: #777777;
}
.client_box_txt a{
  color: #7690c5;
  font-size: 20px;
}
.client_box img{
  border-radius: 50%;
  width: 200px;
  float: right;
  margin-right: 30px;
}
.client_box{
  margin-bottom: 50px;
}

.client_box_txt1{
  background: #fff;
  padding: 30px 70px;
  border: 5px solid #ddd;
  position: relative;
}
.client_box_txt1::before{
  content: "";
    position: absolute;
    left: 100%;
    top: 45%;
    margin-top: -23px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent transparent #dddd;
}
.client_box_txt1 p{
  font-size: 26px;
  color: #777777;
}
.client_box_txt1 a{
  color: #7690c5;
  font-size: 20px;
}
.client_box1 img{
  border-radius: 50%;
  width: 200px;
  margin-left: 30px;
}


.product{
  padding: 80px 0px;
  text-align: center;
}
.product img{
  margin:40px 40px;
}
.product {
    padding: 70px 0px;}
.team{
  background: #000;
  color: #fff;
  padding: 100px 0px;
  text-align: center;
}
.team h2{
  font-size: 60px;
  margin-bottom: 20px;
}
.team h2 span{font-weight: 300;}

.team h3{
  font-size: 20px;
  margin-bottom: 50px;
}
.team p{
margin-top: 50px;
font-size: 20px;
padding: 0px 30px;
}
.team img{
  border-radius: 50%;
  border:7px solid #fff;
  display: inline-block;
}
.team h4{
  font-size: 18px;
  margin: 10px 0px;
}
.social{
  margin-top: 20px;
}
.social i{
  width: 40px;
  height: 40px;
  border:3px solid #fff;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 10px;
  margin-right: 20px;
}
.footer{
  background: #7690c5;
  padding-top:100px;
  color: #fff;
}
.f_main{
  padding-bottom: 50px;
}
.f_main h2{
  font-size: 60px;
  margin-bottom: 18px;
}
.f_main h2 span{ 
font-weight: 300;
}
.f_main p{
  font-size: 18px;
}
.f_main p:first-of-type{
  margin-bottom: 20px;
}
.footer_copy{
  border-top: 1px solid #f1f1f1;
  margin-top: 100px;
  padding: 50px 0px;
  text-align: center;
  font-size: 18px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .web_deve h2 {
    font-size: 50px;}
    .web_iden h2 {
    font-size: 50px;}
    .client h2 {
    font-size: 50px;}
    .team h2 {
    font-size: 50px;}
  .social {
    margin-bottom: 50px;
  }
  .team p {
    margin-top: 30px;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (max-width: 767px) {
  .navigation{
  overflow:visible;
  }
  .press{
    display: block;
    cursor: pointer; 
  }
  .menu{
      width: 100%;
      right: 0;
      top: 80px;
      overflow: hidden;
      max-height: 0;
      z-index: 1;
  }
  .menu li{
    width: 100%;
    text-align: center;
  background:#fff;

  border-bottom: 2px solid #000;
  }
  .menu li a{
  color: #000;
  }
  .show{
    max-height: 500px;
  }


  .web_deve h2 {
    font-size: 45px;
  }
  .web_deve p:first-of-type {
    margin-bottom: 20px;
  }
  .web_iden h2{
    font-size: 45px;
  }
  .web_iden p:first-of-type {
    margin-bottom: 20px;
  }
  .client h2{
    font-size: 45px;
  }
  .client_box_txt {
    padding: 10px 20px;
}
.client p {
    margin-bottom: 25px;
}
.client_box_txt p {
    font-size: 18px;
}
.client_box_txt a {
    font-size: 15px;
}

.client_box_txt1 {
    padding: 10px 20px;
}
.client1 p {
    margin-bottom: 25px;
}
.client_box_txt1 p {
    font-size: 18px;
}
.client_box_txt1 a {
    font-size: 15px;
}
.post {
    padding: 70px 0px;
}
.team h2 {
    font-size: 45px;
}
.team p{
margin-top: 30px;
padding: 0px 10px;
}
.social {
    margin-bottom: 50px;
}
.team {
    padding: 70px 0px;
  }
.footer {
    text-align: center;
}
.footer_copy{
  margin-top: 70px;
  padding: 40px 0px;
}
.f_main h2 {
    font-size: 45px;
}
}

